* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
}

header {
    width: 100dvw;
    flex-grow: 0;
    background-color: #ccc;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div {
    flex-grow: 1;
}

.TTOcontainer {
    display: grid;
    gap: 1rem;
    width: min(80dvh, 80dvw);
}

.cell {
    background-color: yellow;
    border: 1px solid black;
    aspect-ratio: 1;
}

footer {
    width: 100dvw;
    flex-grow: 0;
    background-color: #ccc;
}